/*-----css movie site -----*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition:all .2s;
  }
  
  
  body{
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    overflow-y:scroll;
  }
  
  
  .header{
    background:url('https://s3picturehouses.s3.eu-central-1.amazonaws.com/header/ph_15977496885f3bb9b84457c.jpg');
    background-size:cover;
    background-position:center;
    width:100%;
    height:550px;
    position:relative;
    padding-top:80px;
  }

  header:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.75);
    box-shadow:inset 0 0 80px #000;
  }

  header nav{
    color: #fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 100px;
    position:fixed;
    top:0;
    left:0;
    z-index:99;
    width:100%;
    
  }

  header nav .fa{
    cursor:pointer;
    display:none;
  }

  header nav .fa:hover{
    color:#DB0000;
  }

  .nav{
    background:#fff;
    color:#000;
    transition:background .5s;
    
  }

  .navBlack{
    background:#000;
    color:#fff;
    transition:background .5s;
    
  }

  header nav .logo{
    font-weight:700;
    font-size:1.5em;
  }
  
  header nav .logo span{
    color:#DB0000;
  }

  header nav ul .marker{
    background:#DB0000;
    width:40px;
    height:2px;
    position:absolute;
    bottom:-5px;
    left:0;
    border-radius:20px;
  }

  header nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    text-transform:uppercase;
    list-style:none;
    position:relative;
  }

  header nav ul li{
    cursor:pointer;
  }

  header nav ul li span{
    display:flex;
    gap:8px;
    align-items:center;
  }

  header nav ul li img{
    width:35px;
    height:35px;
    border-radius:50%;
    object-fit:cover;
  }

  header .popular-movie-slider{
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:start;
    gap:35px;
    padding:10px 100px;
    position:relative;
  }

  header .popular-movie-slider .poster{
    width:300px;
    height:400px;
    object-fit:cover;
    border-radius:10px;
  }

  header .popular-movie-slider .popular-movie-slider-content{
    line-height:25px;
  }

  header .popular-movie-slider .popular-movie-slider-content .movie-name{
    font-size:1.8em;
  }

  header .popular-movie-slider .popular-movie-slider-content .category{
    display:flex;
    gap:30px;
    text-transform:capitalize;
    margin:10px 0;
  }

  header .popular-movie-slider .popular-movie-slider-content .desc{
    font-size:.90em;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-info{
    display:flex;
    gap:30px;
    margin:25px 0;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-info .fa-circle{
    color:#DB0000; 
    font-size:.85em;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-info .fa span{
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size:15px;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-btns{
    display:flex;
    gap:10px;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-btns button{
    width:200px;
    border:none;
    outline:none;
    padding:15px 0;
    border-radius:100px;
    font-size:1em;
    background:#DB0000;
    color:#fff;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2px;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-btns button .fa{
    font-size:.65em;
    color:#fff;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-btns .read-more{
    background:none;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-btns .read-more:hover{
    background:#000;
  }
  header .popular-movie-slider .popular-movie-slider-content .movie-btns button:hover{
    background:#000;
  }
  section .movie-ticket-book{
    background:#222;
    color:#fff;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content:space-between;
    align-items:center;
    padding:30px 100px;
  }
  section .movie-ticket-book .choose-date ,
  section .movie-ticket-book .choose-time {
    position:relative
  }